body{
    margin:auto;
    width: 60%;
    text-align: center;
    text-shadow: gray;
}

h1{
    text-align: center;
    padding: 5px;
    background-color:#2e2e2e ;
    color: whitesmoke;
}

ul{
    list-style-type: none;
}
li{
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
    padding: 6px;
    border-radius: 10px;
    background-color:#545050;
}
a:hover{
    background-color:#2e2e2e;
    color:whitesmoke;
    border-radius: 10px;
}
a:active{
    background-color:darkgray;
    color:whitesmoke;
    border:2px solid crimson ;
    border-radius: 10px;
}
a:focus{
    border: 2px solid crimson;
}

h2{
    margin: auto;
    width: 60%;
    padding:6px;
    background-color: #2e2e2e;
    color: whitesmoke;
}

p{
    display: inline-block;
    margin: auto;
    width: 60%;
    padding:6px;
    border:2px solid gray;
}
p:hover{
    background-color:rgb(211, 203, 203);
}
